# Extend default settings for all of my personal repositories defined in .github/settings.yml
_extends: .github:common-settings.yaml

repository:
  name: marcusrbrown
  description: My GitHub public profile README.

  topics: >-
    github,
    readme-profile,
    profile-readme,
    awesome-readme,
    typescript,
    markdown

labels:
  - name: analytics
    color: '#1d76db'
    description: Issues related to analytics and tracking

  - name: cli
    color: '#d93f0b'
    description: Issues related to command-line interface tools

  - name: github-api
    color: '#0052cc'
    description: Issues related to GitHub API usage

branches:
  - name: main
    protection:
      required_status_checks:
        strict: false
        contexts: [CI, Renovate / Renovate, Prepare, Finalize]
      enforce_admins: true
      required_pull_request_reviews: null
      restrictions: null
      required_linear_history: true
