# Update repository settings to match the definitions in .github/settings.yml.
---
name: Update Repo Settings

on:
  push:
    branches: [main]
  schedule:
    - cron: '32 21 * * *' # 21:32 UTC = 16:32 EDT
  workflow_dispatch:

jobs:
  update-repo-settings:
    name: Update Repo Settings
    secrets:
      APPLICATION_ID: ${{ secrets.APPLICATION_ID }}
      APPLICATION_PRIVATE_KEY: ${{ secrets.APPLICATION_PRIVATE_KEY }}
    uses: bfra-me/.github/.github/workflows/update-repo-settings.yaml@e7e7b741537d0a0ee8500d5b088c8bef22a67e90 # v4.3.13
